language: node_js
node_js:
- "6.9.1"
script: node_modules/karma/bin/karma start karma.conf.js --single-run
before_script:
  - npm install -g gulp
  - npm install -g bower
  - bower install
script: gulp
"os": "windows"