language: node_js
node_js:
- "6.9.1"
before_script:
  - npm install -g bower
  - bower install
  - npm install http-server -g
  - hs &
#  - phantomjs --webdriver=4444 &
#  - sleep 5
script:
  - npm test
  - gulp
#  - protractor protractor.conf.js
"os": "windows"
branches:
  only:
    - master