<!DOCTYPE html >

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/jquery-migrate/jquery-migrate.js"></script>

    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>


    <script src="bower_components/angular-ui-grid/ui-grid.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="src/styles/app.css" type="text/css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.css" type="text/css">


</head>
<body>

<div ng-app="app">
    <div ng-controller="mainCtrl">
        <div id="grid1" ui-grid="gridOptions" ui-grid-cellNav ui-grid-pinning ui-grid-pagination ui-grid-selection
             class="grid"></div>
        <p>Current page: {{ gridApi.pagination.getPage() }} of {{ gridApi.pagination.getTotalPages() }}</p>
        <!-- control buttons -->
        <button type="button" class="btn btn-success" ng-click="gridApi.pagination.previousPage()">
            previous page
        </button>
        <button type="button" class="btn btn-success" ng-click="gridApi.pagination.nextPage()">
            next page
        </button>
        items per page
        <input type="text" size="5px" ng-model="items">
        <button type="button" class="btn btn-success" ng-click="go(items)">
            set
        </button>

        <button type="button" class="btn btn-default" ng-click="getRow()">Edit</button>
        <div class="modal-parent">
        </div>


    </div>


</div>
<script src="src/app.js"></script>
<!--<script src="src/controllers/datepickerController.js"></script>-->
<script src="src/controllers/mainController.js"></script>
<script src="src/companies/companiesController.js"></script>
<script src="src/companies/companiesService.js"></script>

</body>
</html>
