<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="app" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="app" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="app.css" type="text/css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap-theme.css" type="text/css">
    <link rel="stylesheet" href="../node_modules/angular-ui-grid/ui-grid.css" type="text/css">


    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>

<div ng-app="app">
    <div ng-controller="MainCtrl">
        <!-- Table -->
        <div id="grid1" ui-grid="gridOptions" ui-grid-cellNav ui-grid-pinning ui-grid-pagination class="grid"></div>
        <p>Current page: {{ gridApi.pagination.getPage() }} of {{ gridApi.pagination.getTotalPages() }}</p>
        <!-- control buttons -->
        <button type="button" class="btn btn-success" ng-click="gridApi.pagination.previousPage()">
            previous page
        </button>
        <button type="button" class="btn btn-success" ng-click="gridApi.pagination.nextPage()">
            next page
        </button>
        items per page
        <input type="text" size="5px" ng-model="items">
        <button type="button" class="btn btn-success" ng-click="go(items)">
            set
        </button>


    <!-- Button trigger modal -->

    <button type="button" class="btn btn-primary btn-lg" ng-click="getCurrentFocus()" data-toggle="modal" data-target="#myModal">
        edit
    </button>
   <!-- <button type="button" class="btn btn-success" ng-click="getCurrentFocus()">Get Current focused cell</button>
    <span ng-bind="currentFocused"></span>-->
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <div ng-controller="StudentController">
                        <form novalidate class="simple-form">
                            Id: <input type="number"  class="form-control" ng-model="user.number"/><br/>
                            First Name: <input type="text" class="form-control" ng-model="user.name"/><br/>
                            Last Name: <input type="text" class="form-control" ng-model="user.surname"/><br/>
                            Company:<input type="text" class="form-control" ng-model="user.patronymic"/><br/>
                            <input type="submit" ng-click="save(user)" value="Submit"/>
                        </form>
                    </div>
                </div>
                <!-- <div class="modal-footer">
                   <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                   <button type="button" class="btn btn-primary">Save changes</button>
                  </div>-->
            </div>
        </div>
    </div>


</div>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="app.js"></script>
<script src="app.css" type="text/css"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
<script src="../node_modules/angular-ui-grid/ui-grid.min.js"></script>
<script src="../node_modules/angular-touch/angular-touch.js"></script>
<script src="../node_modules/angular-animate/angular-animate.js"></script>
<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/jquery-migrate/dist/jquery-migrate.min.js"></script>

<script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>

</body>
</html>
