<div class="modal-header">
    <translate>EDIT</translate>
    {{user.lastName}}
</div>
<div class="modal-body" id="modal-body">
    <!--Form-->

    <form name="editForm" novalidate class="simple-form">
        <!--Id-->
        Id: <input type="number" class="form-control" ng-model="user.id" readonly="readonly"/><br/>
        <!--Name-->
        <translate>FIRST_NAME</translate>
        : <input type="text" class="form-control" ng-model="user.firstName" required/>
        <!--Surname-->
        <translate>LAST_NAME</translate>
        : <input type="text" class="form-control" ng-model="user.lastName" required/><br/>
        <!--Data-->
        <div class="input-group">
            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openDate()"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                            </span>
            <translate>DATE</translate>
            : <input type="text" class="form-control"
                     uib-datepicker-popup
                     ng-model="user.date"
                     required
                     is-open="popup.opened"
                     datepicker-options="dateOptions"/><br/>
        </div>
        <!--Company-->
        <div class='container-fluid uib-typeahead-demo' ng-controller="usersController" required>
            <translate>COMPANY</translate>
            :<input type="text" ng-model="user.company"
                    uib-typeahead="company for company in companies | filter:$viewValue"
                    class="form-control"><br/>
        </div>
    </form>
</div>
<div class="modal-footer">
    <input type="submit" class="btn btn-primary" ng-click="$close(user)" value="Submit"
           ng-disabled="editForm.$invalid"/>
</div>