<div ng-controller="userModalController">
<div class="modal-header">
    <translate>EDIT</translate>
    {{user.lastName}}
</div>
<div class="modal-body" id="modal-body">
    <!--Form-->
    <form name="editForm" novalidate class="simple-form">
        <!--Id-->
        <div class="form-group">
            <label>{{'ID' | translate}}:</label>
            <input name="form" type="number" class="form-control" ng-model="user.id"
                   readonly="readonly"/>
        </div>
        <div class="form-group">
            <label>{{'FIRST_NAME' | translate}}:</label>
            <input name="form" type="text" class="form-control" ng-model="user.firstName"
                   required/>
        </div>
        <div class="form-group">
            <label>{{'LAST_NAME' | translate}}:</label>
            <input name="form" type="text" class="form-control" ng-model="user.lastName"
                   required/>
        </div>
        <!--
        {{'PASSPORT' | translate}}: <input type="text" class="form-control" ng-model="user.passport" required/><br/>

            {{'COUNTRY' | translate}}: <input type="text"
                     class="form-control"
                     ng-model="user.address.country"
                     uib-typeahead="country for country in countries | filter:$viewValue | limitTo:8"
                     required/><br/>

            {{'CITY' | translate}}: <input type="text" class="form-control" ng-model="user.address.city" required/><br/>

            {{'STREET' | translate}}: <input type="text" class="form-control" ng-model="user.address.street" required/><br/>
        -->
        <div class="form-group">
            <label>{{'DATE' | translate}}:</label>
            <div class="input-group">
                <input name="form" type="text" class="form-control"
                       uib-datepicker-popup
                       ng-model="user.date"
                       required
                       is-open="popup.opened"
                       datepicker-options="dateOptions"/>
                <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openDate()"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                            </span>
            </div>
        </div>
        <div class="form-group">
            <div class='uib-typeahead-demo' ng-controller="usersController" required>
                <label>{{'COMPANY' | translate}}:</label>
                <input name="form" type="text" ng-model="user.company"
                       uib-typeahead="company.name for company in companies | filter:$viewValue"
                       class="form-control">
            </div>
        </div>

    </form>
</div>
<div class="modal-footer">
    <input type="submit" class="btn btn-primary" ng-click="$close(user)" value="{{'SUBMIT' | translate}}"
           ng-disabled="editForm.$invalid"/>
    <button type="button" class="btn btn-default" ng-click="cancelEditContent()" translate>CANCEL</button>
</div>
</div>


