<div>
    <div id="grid1" ui-grid="gridOptions" ui-grid-pagination ui-grid-selection ui-grid-exporter
         class="grid"></div>

    <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage"
        ng-change="pageChanged()"></ul>
    <div>
        <button type="button" class="btn btn-default" ng-click="getRow()" translate>EDIT</button>
        <button type="button" id="addData" class="btn btn-success" ng-click="addUser()" translate>ADD</button>
    </div>
</div>