    <div id="grid1" ui-grid="gridOptions"  ui-grid-pagination ui-grid-selection
         class="grid"></div>
    <!-- control buttons -->
    <button translate="PREVIOUS_PAGE" type="button" class="btn btn-success" ng-click="gridApi.pagination.previousPage()">
        previous page
    </button>
    <button translate="NEXT_PAGE" type="button" class="btn btn-success" ng-click="gridApi.pagination.nextPage()">
        next page
    </button>
    <div translate="ITEMS_PER_PAGE">
    items per page
    </div>
    <input type="text" size="5px" ng-model="items">

    <button translate="SET" type="button" class="btn btn-success" ng-click="$scope.gridOptions.paginationPageSize = items">
        set
    </button>
    <button translate="EDIT" type="button" class="btn btn-default" ng-click="getRow()">Edit</button>
