<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h3><input name="editCompany" type="text" class="form-control" ng-model="company.company.name"
                           disabled/></h3>
                <p>
                    {{'ADDRESS' | translate}}
                </p>
                <div class="form-group" name="companyInf">
                <p>
                    <label>{{'COUNTRY' | translate}}:</label>

                        <input name="editCompany" type="text" class="form-control" ng-model="company.address.country"
                               uib-typeahead="country for country in countries | filter:$viewValue | limitTo:8"
                               disabled/>
                </p>
                <p>
                    <label>{{'CITY' | translate}}:</label>
                    <input name="editCompany" type="text" class="form-control" ng-model="company.address.city"
                           disabled/>
                </p>
                <p>
                    <label>{{'STREET' | translate}}:</label>
                    <input name="editCompany" type="text" class="form-control" ng-model="company.address.street"
                           disabled/>
                </p>
                </div>
            </div>
            <button type="button" class="btn btn-default" ng-click="openCompany()" translate>EDIT</button>
            <button type="button" class="btn btn-default" ng-click="saveEdit(company)" translate>SAVE</button>
            <button type="button" class="btn btn-default" ng-click="cancelCompany()" translate>CANCEL</button>
        </div>
    </div>
</div>
<projects-component class="component" company-id="company.company.id"></projects-component>