<div class="modal-header">
    {{'EDIT' | translate}} {{companyEdit.company.name}}
</div>
<div class="modal-body" id="modal-body">
    <!--Form-->
    <form name="editForm" novalidate class="simple-form">

        <div class="form-group">
            <label>{{'COMPANY_NAME' | translate}}:</label>
            <input name="company_name" type="text" class="form-control" ng-model="companyEdit.company.name" required/>
        </div>
        <div class="form-group">
            <label>{{'COUNTRY' | translate}}:</label>
            <input name="editCompany" type="text" class="form-control" ng-model="companyEdit.address.country"
                   uib-typeahead="country for country in countries | filter:$viewValue | limitTo:8" required/>
        </div>
        <div class="form-group">
            <label>{{'CITY' | translate}}:</label>
            <input name="editCompany" type="text" class="form-control" ng-model="companyEdit.address.city"
                   required/>
        </div>
        <div class="form-group">
            <label>{{'STREET' | translate}}:</label>
            <input name="editCompany" type="text" class="form-control" ng-model="companyEdit.address.street"
                   required/>
        </div>
    </form>
</div>
<div class="modal-footer">
    <input type="submit" class="btn btn-primary" ng-click="$close(companyEdit)" value="{{'SUBMIT' | translate}}"
           ng-disabled="editForm.$invalid"/>
    <button type="button" class="btn btn-default" ng-click="cancelCompany()" translate>CANCEL</button>
</div>