    <div id="grid1" ui-grid="gridOptions" ui-grid-cellNav ui-grid-pinning ui-grid-pagination ui-grid-selection
         class="grid"></div>
    <p>Current page: {{ gridApi.pagination.getPage() }} of {{ gridApi.pagination.getTotalPages() }}</p>
    <!-- control buttons -->
    <button type="button" class="btn btn-success" ng-click="gridApi.pagination.previousPage()">
        previous page
    </button>
    <button type="button" class="btn btn-success" ng-click="gridApi.pagination.nextPage()">
        next page
    </button>
    items per page
    <input type="text" size="5px" ng-model="items">
    <button type="button" class="btn btn-success" ng-click="$scope.gridOptions.paginationPageSize = items">
        set
    </button>
    <button type="button" class="btn btn-default" ng-click="getRow()">Edit</button>
