<header>
    <div translate="USERS" class="title">Users</div>
    <nav>
        <a translate="USERS_INFORMATION" class="btn btn-primary" href="#/users">Information</a>
        <a translate="COMPANIES_INFORMATION" class="btn btn-primary" href="#/about">About</a>
        <button type="button" class="btn btn-default" ng-click="changeLanguage('en')" translate="BUTTON_LANG_EN">english</button>
        <button type="button" class="btn btn-default" ng-click="changeLanguage('ru')" translate="BUTTON_LANG_RU">russian</button>
    </nav>
</header>