<!DOCTYPE html >

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/jquery-migrate/jquery-migrate.js"></script>

    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap.js/"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>


    <script src="../bower_components/angular-ui-grid/ui-grid.js"></script>
    <script src="../bower_components/angular-touch/angular-touch.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    <link rel="stylesheet" href="../bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="../bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="styles/app.css" type="text/css">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../bower_components/angular-ui-grid/ui-grid.css" type="text/css">


</head>
<body>

<div ng-app="app">
    <div ng-controller="MainCtrl as $ctrl">


        <div id="grid1" ui-grid="gridOptions" ui-grid-cellNav ui-grid-pinning ui-grid-pagination ui-grid-selection
             class="grid"></div>
        <p>Current page: {{ gridApi.pagination.getPage() }} of {{ gridApi.pagination.getTotalPages() }}</p>
        <!-- control buttons -->
        <button type="button" class="btn btn-success" ng-click="gridApi.pagination.previousPage()">
            previous page
        </button>
        <button type="button" class="btn btn-success" ng-click="gridApi.pagination.nextPage()">
            next page
        </button>
        items per page
        <input type="text" size="5px" ng-model="items">
        <button type="button" class="btn btn-success" ng-click="go(items)">
            set
        </button>

        <script type="text/ng-template" id="editFormModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
            </div>
            <div class="modal-body" id="modal-body">
                <!--Form-->

                <form name="editForm" novalidate class="simple-form">
                    <!--Id-->
                    Id: <input type="number" class="form-control" ng-model="user.id" required/><br/>
                    <!--Name-->
                    First Name: <input type="text" class="form-control" ng-model="user.firstName" required/>
                    <!--Surname-->
                    Last Name: <input type="text" class="form-control" ng-model="user.lastName" required/><br/>
                    <!--Data-->
                    Date: <input id="d" type="text" class="form-control" ng-model="user.date"
                                 uib-datepicker-popup is-open="popup1.opened"
                                 datepicker-options="dateOptions" ng-required="true" close-text="Close"/><br/>

                    <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open1()"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                            </span>

                    <div class='container-fluid uib-typeahead-demo' ng-controller="DataCompanyController">
                        Company:<input type="text" ng-model="user.company"
                                       uib-typeahead="company for company in companies | filter:$viewValue"
                                       class="form-control">
                    </div>
                    <input type="submit" class="btn btn-primary" ng-click="save() " value="Submit"
                           ng-disabled="editForm.$invalid"/>
                </form>

            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Applay</button>
            </div>
        </script>
        <button type="button" class="btn btn-default" ng-click="getRow()">Large modal</button>
        <div class="modal-parent">
        </div>


    </div>


</div>
<script src="app.js"></script>
<script src="controllers/mainController.js"></script>
<script src="controllers/modalInstanseController.js"></script>
<script src="companies/companyService.js"></script>
<script src="companies/companyController.js"></script>
</body>
</html>
